.competition-card {
    width: 100%;
    background-color: rgba(30, 30, 30, 0.8);
}

.competition-card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.competition-card-title {
    text-align: center;
}

.competition-row-container {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(30, 30, 30, 1);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    gap: 4px;
    align-items: center;
    width: 100%;
}

.competition-row-container-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

@media (min-width: 800px) {
    .competition-row-container-info {
        display: flex;
        flex-direction: row;
        flex: 1;
        gap: 16px
    }
}