.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.viewport {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 800px;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.body-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 16px;
    overflow-y: auto;
}

@media (max-width: 800px) {
    .viewport {
        padding-left: 16px;
        padding-right: 16px;
    }
}

