.user-competition-bet-list {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.user-competition-bet-save-button {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    min-height: 32px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 0px;
}

@media (min-width: 800px) {
    .user-competition-bet-list {
        padding-left: 16px;
        padding-right: 16px;
        max-width: 600px;
    }
}
