.user-competition-list {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.search-user-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 4px;
}

.reports-container {
    display: flex;
    flex-direction: row;
    gap: 4px
}

@media (min-width: 800px) {
    .user-competition-list {
        padding-left: 16px;
        padding-right: 16px;
        max-width: 600px;
    }
}

@media (max-width: 800px) {
    .report-button {
        flex: 1
    }
}