.header-container {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(30, 30, 30, 1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-column {
    flex: 1;
    text-align: center;
}

.header-title {
    cursor: pointer;
}

.header-menu-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-viewport {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1056px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
