.user-competition-bet-row-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    gap: 4px;
    color: rgba(30, 30, 30, 1);
    padding: 4px;
}

.user-competition-bet-row-input-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.user-competition-bet-row-input {
    width: 32px;
}