.home-container {
    flex: 1;
    overflow: visible;
    background-color: rgba(30, 30, 30, 0.8);
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1
}

.section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
