body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('../../public/canarinho_pistola.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 100%;
}

html {
  height: 100%;
  min-height: 100% !important;

  width: 100%;
  min-width: 100% !important;
}

#__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(25, 0, 255, 0.4);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a {
  color: cornflowerblue;
  text-decoration: underline;
}

.linear-progress {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
}


/* Remove buttons from input type number in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove buttons from input type number in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
