.auth-card-container {
    width: 100%;
}

.auth-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgba(30, 30, 30, 0.8);
}

.auth-card-title {
    text-align: center;
}